.controlBar {
	position: relative;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 40px;
	padding: 0 9px;
	background-color: red !important;
}

audio,
video {
	display: inline-block;
	/* background: darkblue !important; */
	border-radius: 92px;
	height: 90% !important;
}


.text-class {

	font-size: 30px;
	font-weight: 600;
	font-style: normal;
	text-align: center !important;
	color: #3f51b5;
	text-transform: uppercase;


}

.stylish-text {
	font-style: italic;
	line-height: 0;
	font-size: 34px;
	font-weight: 400;
}

.favNumber {
	position: relative;
	left: 94%;
	bottom: 60px;
	font-size: 1.3rem;
	line-height: 0.8;
	letter-spacing: 0.032em;
	font-weight: 600 !important;
	font-style: italic;
}

@media(max-width:500px) {
	.Musicplayer-root-responsive {
		position: initial !important;
		margin: 0 auto;
		width: 100%;
		min-width: 85% !important;
	}
}